{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if workspaces %}
<div id="content" class="expanded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="">
                <h2 class="p-3"> Your issues</h2>
               <!-- issues here -->
             <div class="container">
              <table class="table  table-hover shadow-sm">
                  <thead>
                    <tr>
                      <th scope="col-sm-1" class="text-center">Status</th>
                      <th scope="col-sm-6"  class="text-center">Issue</th>
                      <th scope="col-sm-1"  class="text-center">Priority</th>
                      <th scope="col-sm-1"  class="text-center">Assignee</th>
                      <th scope="col-sm-1"  class="text-center">Deadline</th>
                      <th scope="col-sm-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for issue in user_issues %}
                    <tr>
                      <th scope="row">
                         <div class="w-50 dropdown rounded-pill ">
                             <select  class="issue-status-dropdown form-select custom-select rounded-pill btn btn-sm" type="button" name="status" data-bs-toggle="dropdown"  aria-expanded="false" data-issue-id="{{issue.issue_id}}">
                                 {% for stat in status %}
                                 {% if issue.status.id|stringformat:"s" == stat.id|stringformat:"s" %}
     
                                 <option value="{{stat.id}}"  style = "background-color: {% if stat.id == 1%}green{% elif stat.id == 2%}orange{% elif stat.id == 3%}#FF5733{% else %}rgb(191,87,0){% endif%};" class="dropdown-item" selected>{{stat.name}}</option>
                                 {% else %}
                                 <option class="dropdown-item" style = "background-color: {% if stat.id == 1%}green{% elif stat.id == 2%}orange{% elif stat.id == 3%}#FF5733{% else %}rgb(191,87,0){% endif%};" value="{{stat.id}}"><i class="fa-regular fa-circle fa-l"></i> {{stat.name}}</option>
                                 {% endif %}
                                 {% endfor %}
                             
                              </select>
                          </div>
                      </th>
                      <td style="cursor: pointer;" class="col-sm-3">
                          <a href="{% url 'issue_view' issue.issue_id  custom_id %}" class="link-light link-underline link-underline-opacity-0">{{issue}}
                          
                          </a>
                      </td>
                          <td >
                              <div class=" dropdown rounded-pill" >
                                  <select  class="issue-priority-dropdown form-select custom-select rounded-pill btn btn-sm" type="button" name="status" data-bs-toggle="dropdown"  aria-expanded="false" data-issue-id="{{ issue.issue_id }}">
                                      {% for prior in priority %}
                                      {% if issue.priority.id|stringformat:"s" == prior.id|stringformat:"s" %}
          
                                      <option value="{{prior.id}}"  class="dropdown-item" selected>{{prior.name}}</option>
                                      {% else %}
                                      <option class="dropdown-item" value="{{prior.id}}"><i class="fa-regular fa-circle fa-l"></i> {{prior.name}}</option>
                                      {% endif %}
                                      {% endfor %}
                                 </select>
                              </div>
                          </td>
                      
                      <td> 
                          <div class="col-sm-7 mb-2 ms-0">
                              {% if issue.assignee.count > 0 %}
                              <button class="btn btn-sm dropdown dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                                  <i class="fa-solid fa-user-group " style="color: #e7eaee;"></i>Assignees
                              </button>
                              <ul class="dropdown-menu" >
                                  {% for assignee in issue.assignee.all %}
                                  <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle fa-l"></i> {{assignee.user.first_name}} {{assignee.user.last_name}}</a></li>
                                  {% endfor %}
                              </ul>
                              {% else %}
                              <button class="btn btn-sm  rounded-pill" type="button"  fdprocessedid="5bab4i">
                                  <i class="fa-solid fa-user-group " style="color: #e7eaee;"></i>Not assigned
                              </button>
                              {% endif %}
                          </div>
                          
                    </td>
                      <td>{% if issue.deadline %}{{issue.deadline}}{% endif %}</td>
                      <td><button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" onclick="get_issueComments('{{issue.issue_id}}')">
                        <i class="fa-regular fa-comment"></i>
                      </button></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="6">No Issues found.</td></tr>
                    
                    
                    {% endfor %}
                    <tr id="new-subissue">
                      <td colspan="6">
                          <input type="text" class="form-control " placeholder="Enter subIssue and press Enter" style="color:white;border-color: rgb(244, 240, 240);" id="new-subissue-input" placeholder="Add new subissue">
                      </td>
                  </tr>
                  </tbody>
                </table>

      </div>


            </div>
        </div>
    </div>
</div>




{% endif %}

    
{% endblock content %}
