{% extends 'base.html' %}
{% load static %}
{% block content %}



<div id="content" class="expanded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="">
                <div class="d-flex justify-content-between   ">
                    <span class="text">Issue Name</span>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editIssue" data-bs-whatever="@mdo"><i class="fa-solid fa-pen pt-4" style="color: #85586f;"></i></button>
                    <!-- modal -->
                    <div class="modal fade" id="editIssue" tabindex="-1" aria-labelledby="editIssueLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header" style="background-color: #85586f;color:#fafafa;">
                              <h1 class="modal-title fs-5" id="editIssueLabel">Edit Issue</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white;"></button>
                            </div>
                            <div class="modal-body form-box">
                                <form method="POST">
                                    <div class="">
                    
                                        <div class="form-row">
                                            <div class="input-data">
                                                <input type="text" required>
                                                <div class="underline"></div>
                                                <label for="name">Issue Name</label>
                                            </div>
                    
                                        </div>
                    
                                        <div class="form-row">
                                            <div class="input-data textarea">
                                                <textarea rows="8" cols="80" ></textarea>
                                                <br />
                                                <div class="underline"></div>
                                                <label for="">Add description</label>
                                                <br />
                                            </div>
                                        </div>
                                        
                                        <div class="form-row justify-content-center">
                                            
                                              
                                              <div class="dropdown rounded-pill me-2">
                                                <button class="btn  dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                                                  Priority
                                                </button>
                                                <ul class="dropdown-menu" >
                                                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-triangle-exclamation fa-l"></i> Urgent</a></li>
                                                  <li><a class="dropdown-item " href="#"><i class="fa-solid fa-exclamation fa-l p-1 "></i> High</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-ellipsis fa-lg p-1" style="color: #fafafa;"></i>Moderate</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="fa-solid fa-angles-down fa-lg p-1" style="color: #fafafa;"></i>Low</a></li>
                                                  <li><a class="dropdown-item" href="#">No Priority</a></li>
                                                </ul>
                                              </div>
                                              <div class="dropdown rounded-pill me-2">
                                                <button class="btn dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                                                  Status
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle fa-l"></i> Open</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-half-stroke fa-l"></i> In progress</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-pause fa-l"></i> Paused</a></li>
                    
                                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-check fa-l"></i> Closed</a></li>
                                                    
                                              </div>
                                              <div class="col-sm-4">
                                              <div class="input-group input-daterange " style="color:white;">
                                                
                                                <input type="text" id="end" class="form-control   rounded-pill  w-25 me-2"  placeholder="Start" style="color:#ffff; background-color: #85586F; ">
                                                <label class="ml-3 form-control-placeholder" id="end-p" for="end" ></label>
                                                <!-- <span class="fa fa-calendar fa-xs" id="fa-2"></span> -->
                                                <input type="text" id="start" class="form-control rounded-pill w-25" placeholder="Target" style="background-color: #85586F;border-color: #85586F;color:white;">
                                                <label class=" form-control-placeholder" id="start-p" for="start"></label>
                                                <!-- <span class="fa fa-calendar" id="fa-1" ></span> -->
                                              </div>
                                            </div>
                                              
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-sm-4 w-25 rounded-pill m-1">
                                                <div class="rounded-pill">
                                                    <select id="choices-multiple-remove-button" placeholder="Assign to"
                                                        class="rounded-pill" multiple>
                                                        <option value="HTML">HTML</option>
                                                        <option value="Jquery">Jquery</option>
                                                        <option value="CSS">CSS</option>
                                                        <option value="Bootstrap 3">Bootstrap 3</option>
                                                        <option value="Bootstrap 4">Bootstrap 4</option>
                                                        <option value="Java">Java</option>
                                                        <option value="Javascript">Javascript</option>
                    
                                                    </select>
                                                </div>
                                            </div>
                    
                                            
                                        </div>
                    
                                        
                    
                                        
                                        <div class="form-row">
                    
                                            <div class="input-data textarea">
                                                <textarea rows="8" cols="80" required></textarea>
                                                <br />
                                                <div class="underline"></div>
                                                <label for="">Ideas</label>
                                            </div>
                                        </div>
                                        <div class="form-row submit-btn justify-content-center">
                                            <div class="input-data rounded-pill">
                                                <div class="inner"></div>
                                                <input type="submit" value="submit">
                                            </div>
                                        </div>
                                    </div>
                                   
                    
                                </form>
                    
                            </div>
                            <div class="modal-footer" style="background-color: #85586f;color:#fafafa;">
                              <button type="button" class="btn btn-outline-light rounded-pill">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- modal end -->

                <div class="row  ms-2">
                   
                    <div class="col-sm-1 mb-2">
                    
                        <button class="btn btn-sm dropdown dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                          Priority
                        </button>
                        <ul class="dropdown-menu" >
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-triangle-exclamation fa-l"></i> Urgent</a></li>
                          <li><a class="dropdown-item " href="#"><i class="fa-solid fa-exclamation fa-l p-1 "></i> High</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-ellipsis fa-lg p-1" style="color: #fafafa;"></i>Moderate</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-angles-down fa-lg p-1" style="color: #fafafa;"></i>Low</a></li>
                          <li><a class="dropdown-item" href="#">No Priority</a></li>
                        </ul>
                    </div>  
                    <div class="col-sm-2 mb-2 ">
                        <button class="btn btn-sm dropdown dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                            Status
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle fa-l"></i> Open</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-half-stroke fa-l"></i> In progress</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-pause fa-l"></i> Paused</a></li>
    
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-check fa-l"></i> Closed</a></li>
                        </ul>   
                    </div>
                    
                       
                    
                    <div class="col-sm-2 mb-2 offset-sm-2">
                            <span class="input-group input-daterange  " style="color:white;">
                                                        
                                <input type="text" id="end" class="form-control btn btn-sm  rounded-pill   me-2"  placeholder="Start" style="color:#ffff; background-color: #85586F; ">
                                <label class="ml-3 form-control-placeholder" id="end-p" for="end" ></label>
                                <!-- <span class="fa fa-calendar fa-xs" id="fa-2"></span> -->
                                <input type="text" id="start" class="form-control rounded-pill btn btn-sm " placeholder="Target" style="background-color: #85586F;border-color: #85586F;color:white;">
                                <label class=" form-control-placeholder" id="start-p" for="start"></label>
                                <!-- <span class="fa fa-calendar" id="fa-1" ></span> -->
                            </span>
                    </div>
                    
                    <div class="col-sm-1  mb-2 ms-1 me-2">
                        <button class="btn btn-sm dropdown dropdown-toggle rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                            <i class="fa-solid fa-user-group " style="color: #e7eaee;"></i>Assigned to
                        </button>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle fa-l"></i> Open</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-half-stroke fa-l"></i> In progress</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-pause fa-l"></i> Paused</a></li>
    
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-check fa-l"></i> Closed</a></li>
                        </ul>
                    </div>
                    <div class=" col-sm-2 ms-1 ms-4 mb-2 ">    
                        <a class="rounded-pill btn btn-sm " href="{% url 'add_subIssue' project_id  issue_id %}" style="background-color: #85586f; color:#f5f7fa;"><i
                                class="fa-solid fa-plus" style="color: #f5f7fa;"></i> Add sub-issue</a>
                    </div>
                </div>
                </div>
                
            </div>


            <!-- subissues here -->
             <div class="container">
                
                <div class="row p-1 row-issues "   >
                    <div class="col-sm-1">
                        <span class="btn btn-sm dropdown dropdown-toggle rounded-pill"  type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                            Status
                        </span>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle fa-l"></i> Open</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-half-stroke fa-l"></i> In progress</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-pause fa-l"></i> Paused</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-check fa-l"></i> Closed</a></li>
                        </ul> 
                    </div>
                    <div class="col-sm-8 pt-1" style="cursor: pointer;" id="subissue1">
                        subissue (completed subissue/total subisue)
                    </div>
                    
                    
                    <div class="col-sm-1">
                        <span class="btn btn-sm dropdown dropdown-toggle rounded-pill align-contents-end" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                            Priority
                        </span>
                          <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-triangle-exclamation fa-l"></i> Urgent</a></li>
                            <li><a class="dropdown-item " href="#"><i class="fa-solid fa-exclamation fa-l p-1 "></i> High</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-ellipsis fa-lg p-1" style="color: #fafafa;"></i>Moderate</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-angles-down fa-lg p-1" style="color: #fafafa;"></i>Low</a></li>
                            <li><a class="dropdown-item" href="#">No Priority</a></li>
                          </ul>
                    </div>
                    <div class="col-sm-1">
                        <span class="btn btn-sm dropdown dropdown-toggle rounded-pill align-contents-end" type="button" data-bs-toggle="dropdown" aria-expanded="false" fdprocessedid="5bab4i">
                            assigned
                        </span>
                          <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-triangle-exclamation fa-l"></i> Urgent</a></li>
                            <li><a class="dropdown-item " href="#"><i class="fa-solid fa-exclamation fa-l p-1 "></i> High</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-ellipsis fa-lg p-1" style="color: #fafafa;"></i>Moderate</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-angles-down fa-lg p-1" style="color: #fafafa;"></i>Low</a></li>
                            <li><a class="dropdown-item" href="#">No Priority</a></li>
                          </ul>
                    </div>



                </div>
            </div>
            
           

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script>
    document.getElementById('issue1').onclick=function() {
     window.location.href = "{% url 'issue_view' %}"; // Replace 'https://www.example.com' with the URL of your desired page
 };
 </script>


{% endblock content %}