{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-3 border-right">

            <div class="container-sm  text-center bg-color ">
                <div >
                    {% if custom_user.profile_pic %}
                        <img id="profilePicPreview" class="card-img-top mt-4 me-4" src="{{custom_user.profile_pic.url}}" alt="profile pic of {{custom_user.user.first_name}}" style="width: 250px;height:250px;border-radius: 100%;">
                    {% else %}
                        <img id="profilePicPreview" class="card-img-top mt-5 text-center" src="{% static 'images/default_profile_pic.png' %}" style="width: 250px;height:250px;border-radius: 100%;opacity: 0.8;">
                    {% endif %}
                </div>
                
            </div>
        <div class="p-4 text-center">{{custom_user.user.first_name}} {{custom_user.user.first_name}}</div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="color:#004a7a;">User Stats</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"></div> 
                    <!-- total projects involved in -->
                     <!-- closed issues -->
                      <!-- issues working on -->
                       <!--  -->
                    <div class="col-md-6"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-sm profile-button" style="background-color: #004a7a;color:white;" type="submit" value="submit" >Save Profile</button></div>
            </div>

        </div>
        
    </div>
</div>
</div>
</div>

{% endblock content %}
