
{% extends 'base.html' %}
{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/dashboards/modules/layout.js"></script>
<div id="content" class="expanded">
    
<div id="container" style="width: 100%; height: 500px;">
    <!-- <figure class="highcharts-figure m-3" style="width: 650px;"></figure>
        <div id="container"></div>
        <p class="highcharts-description">
            Visualization about the projects we have done and the progress
        </p>
    </figure> -->
</div>


</div>
<script>

Dashboards.board('container', {
  gui: {
    layouts: [{
      id: 'layout-1',
      rows: [{
        cells: [{
          id: 'dashboard-col-0'
        }, {
          id: 'dashboard-col-1'
        }]
      }]
    }]
  },
  components: [{
    type: 'HTML',
    renderTo: 'dashboard-col-0',
    elements: [
      {
        tagName: 'h1',
        textContent: 'Your first dashboard'
      }
    ]
  }, {
    renderTo: 'dashboard-col-1',
    type: 'Highcharts',
    chartOptions: {
      series: [{
        data: [1, 2, 3, 4]
      }]
    }
  }]
});
</script>




{% endblock content %}