
{% extends 'base.html' %}
{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/dashboards/modules/layout.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>
<div id="content" class="expanded">
    
<div id="container" class="highcharts-light mx-5 my-2 rounded" style="background-color:white;">
    <div class="row p-3" >
      <div class="col-sm-4  h-100" >
        <div id="treemap" class="shadow-sm rounded"></div>
      </div>
      <div class="col-sm-4 h-100">
        <div id="pie_chart" class="shadow-sm rounded"></div>
      </div>
      <div class="col-sm-4">
        add num
        
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm-12">
        <div id="gantt" class="shadow-sm rounded"></div>
      </div>
    </div>
</div>

</div>
<script>
  let colors = ['#8B0000', '#ff4b33', '#ff4b33', '#D3D3D3'];

let data = [
    {% for priority, total_count in priority_count.items %}
    {
        name: '{{ priority }}',
        value: {{ total_count }},
        color: colors[{{ loop.index }} - 1], // This won't work directly
        drilldown: '{{ priority }}'
    } {% if not loop.last %}, {% endif %}
    {% endfor %}
];


data.forEach((item, index) => {
    item.color = colors[index] || '#000000'; // Fallback to black if out of bounds
});


Highcharts.chart('treemap', {
  
  series: [
    {
      type: 'treemap',
      layoutAlgorithm: 'squarified',
      allowTraversingTree:true,  
      levelIsConstant: false,
      dataLabels:{
        enabled:false
      }  , 
      levels:[{
        level:1, 
        layoutAlgorithm: 'squarified',
        dataLabels:{
          enabled:true,
          useHTML: true,
				style: {
					
				},
        formatter() {
          return '<div style="white-space: break-spaces;color:black;" >'+this.point.name+'</div>';
          //return this.point.name;
        }
        }
      }],
      data: data
    }
  ],
  drilldown: {
    colorByPoint:true,
    activeDataLabelStyle: {
            textDecoration: 'none'
            },
    series: [
      {% for priority, projects in treemap_data.items %}
      {
        id: '{{priority}}',
        type:'treemap',
        layoutAlgorithm:'squarified',
        data: [
          {% for project, count in projects.items %}
          ['{{project}}',{{count}}]
            {% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  title: {
    text: 'Your issues by priority'
  },
  
  tooltip: {
    useHTML: true,
    pointFormat:
    'There are <b>{point.value}</b> tasks of <b>{point.name}</b> '
  }
});
// to do: show what these issues are by adding level in the drilldown option
</script>
<!-- piechart -->
 <!-- possible issue: as time goes on the closed issues can increase and then it will be like 
  close=50, pending=1 
  solu: if closed, check the closing date(if in last 2 weeks) and add???  -->
<script>
  // Radialize the colors
Highcharts.getOptions({
    colors: Highcharts.getOptions().colors.map(function(color) {
        return {
          linearGradient: {
            cx: 0.5,
            cy: 0.5,
            r: 0.7
          },
        
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});
  Highcharts.chart('pie_chart', {
  
  chart: {
    type: 'pie'
  },
  title: {
    text: 'Your Task Status',
    align:'left'
  },
  subtitle:{
    text:'Click on slices to view breakdown of status by project',
    align:'left'
  },
  
  tooltip: {
    
    borderColor: '#999',
    backgroundColor: 'rgba(255, 255, 255, 0.93)'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      colors,
      borderRadius: 8,
      dataLabels: [{
        distance:'-40%',
        position:'center',
        enabled: true,
        format: '<span style="font-size:0.80rem;color:black;"><b> {point.name}</b></span>' +
                    '<br>' +
                    '<span style="color:black;">{point.percentage:.1f}</span> ' +
                    '%',
                connectorColor: 'rgba(128,128,128,0.5)',
                filter: {
                    property: 'percentage',
                    operator: '>',
                    value: 0
                }
      },
    ],
      
    }
  },
  series: [
    { borderRadius:5,
      name: 'Issues',
      colorByPoint: true,
      innerSize: '75%',
      data: [
        {% for status,count in status_count.items %}
        {
          name: '{{status}}',
          y: {{count}},
          drilldown:'{{status}}'
        } {% if not loop.last %},{% endif %}
        {% endfor %}
        
      ]
    }
  ],
  drilldown:{
    activeDataLabelStyle: {
            textDecoration: 'none'
            },
            dataLabels: [{
        distance:'-1%',
        position:'center',
        enabled: true,
        format: '<span style="font-size:0.5rem;color:black;"><b> {point.name}</b></span>' +
                    '<br>' +
                    '<span style="color:black;">{point.percentage:.1f}</span> ' +
                    '%',
                connectorColor: 'rgba(128,128,128,0.5)'}],
    series:[
      {% for status, projects in pie_data.items %}
      {name:'{{status}}',
        id:'{{status}}',
        data:[
        {% for project, count in projects.items %}
        ['{{project}}',{{count}}]{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
        
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
});
</script>

<!-- gantt -->
 <script>
  function getDate(date) {
      const dateParts = date.split('-');
      const year = parseInt(dateParts[0], 10);
      const month = parseInt(dateParts[1], 10) - 1; // JavaScript months are zero-indexed
      const day = parseInt(dateParts[2], 10);
      
      // Return the date as a UTC timestamp
      return Date.UTC(year, month, day);
                }
  const day = 24 * 36e5,
    today = Math.floor(Date.now() / day) * day;

const options = {
    chart: {
        plotBackgroundColor: 'rgba(128,128,128,0.02)',
        plotBorderColor: 'rgba(128,128,128,0.1)',
        plotBorderWidth: 1
    },

    plotOptions: {
        series: {
            borderRadius: '50%',
            // connectors: {
            //     dashStyle: 'ShortDot',
            //     lineWidth: 2,
            //     radius: 5,
            //     startMarker: {
            //         enabled: false
            //     }
            // },
            groupPadding: 0,
            dataLabels: [{
                enabled: true,
                align: 'left',
                format: '{point.name}',
                padding: 10,
                style: {
                    fontWeight: 'normal',
                    textOutline: 'none'
                }
            }, {
                enabled: true,
                align: 'right',
                format: '{#if point.completed}{(multiply ' +
                    'point.completed.amount 100):.0f}%{/if}',
                padding: 10,
                style: {
                    fontWeight: 'normal',
                    textOutline: 'none',
                    opacity: 0.6
                }
            }]
        }
    },

    series: [ // project start 
    {% for project,details in gantt.items %}
    {
      
        name: '{{project}}',
        data: [{
            name: '{{project}}',
            id: '{{project}}',
            owner: {% if details.lead %}{% for lead in details.lead %}'{{lead.team_member.user.first_name}}'{% endfor %}{% else %}'na'{% endif %}
        }, {% for issue,issues_details in details.issues.items %}
        {
            name: '{{issue}}',
            id: '{{issue}}',
            parent: '{{project}}',
            start:  getDate('{{ issues_details.created_on }}') ,
            
            end: getDate('{{issues_details.deadline}}'),
            completed: {
                amount: 0.2
                // 
            },
            owner:  {% if issues_details.assignees %}{% for assignee in issues_details.assignees %}'{{assignee.assignee.user}}'{% endfor %}{% else %}'na'{% endif %}
        }{% if not loop.last %},{% endif %} {% endfor %}
        ]
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    // project end
    ],
  dataLabels: [{
            enabled: true,
            format: '<div style="width: 20px; height: 20px; overflow: ' +
                'hidden; border-radius: 50%; margin-left: -25px">' +
                '<img src="https://github.com/jyosnaphilip.png" ' +
                'style="width: 30px; margin-left: -5px; margin-top: -2px">' +
                '</div>',
            useHTML: true,
            align: 'left'
        }, {
            enabled: true,
            format: '<i class="fa fa-{point.fontSymbol}" style="font-size: ' +
                '1.5em"></i>',
            useHTML: true,
            align: 'right'
        }],
        tooltip: {
      outside:true,
         
        pointFormat: '<span style="font-weight: bold;color:white;">{point.name}'+ 'Start: {point.start:%e %b %Y}<br>' +
        'End: {point.end:%e %b %Y}<br>' +
        'Completed: {point.completed.amount :.0%}<br>' +
        'Owner: {point.owner}</span><br>' 
           
    },
    title: {
        text: 'Gantt Project Management To do: add dates, calculate time and try changing bg color'
    },
    xAxis: [{
        currentDateIndicator: {
            color: '#2caffe',
            dashStyle: 'ShortDot',
            width: 2,
            label: {
                format: ''
            }
        },
        dateTimeLabelFormats: {
            day: '%e<br><span style="opacity: 0.5; font-size: 0.7em">%a</span>'
        },
        grid: {
            borderWidth: 0
        },
        gridLineWidth: 1,
        min: today - 3 * day,
        max: today + 18 * day,
        custom: {
            today,
            weekendPlotBands: true
        }
    }],
    yAxis: {
        grid: {
            borderWidth: 0
        },
        gridLineWidth: 0,
        labels: {
            symbol: {
                width: 8,
                height: 6,
                x: -4,
                y: -2
            }
        },
        staticScale: 30
    },
  navigator: {
    enabled: true,
    liveRedraw: true,
    series: {
      type: 'gantt',
      pointPlacement: 0.5,
      pointPadding: 0.25,
      accessibility: {
        enabled: false
      }
    },
    yAxis: {
      min: 0,
      max: 3,
      reversed: true,
      categories: []
    }
  },

  scrollbar: {
    enabled: true
  },

  rangeSelector: {
    enabled: true,
    selected: 0
  },
    accessibility: {
        keyboardNavigation: {
            seriesNavigation: {
                mode: 'serialize'
            }
        },
        point: {
            descriptionFormatter: function (point) {
                const completedValue = point.completed ?
                        point.completed.amount || point.completed : null,
                    completed = completedValue ?
                        ' Task ' + Math.round(completedValue * 1000) / 10 +
                            '% completed.' :
                        '',
                    dependency = point.dependency &&
                        point.series.chart.get(point.dependency).name,
                    dependsOn = dependency ?
                        ' Depends on ' + dependency + '.' : '';

                return Highcharts.format(
                    point.milestone ?
                        '{point.yCategory}. Milestone at {point.x:%Y-%m-%d}. ' +
                        'Owner: {point.owner}.{dependsOn}' :
                        '{point.yCategory}.{completed} Start ' +
                        '{point.x:%Y-%m-%d}, end {point.x2:%Y-%m-%d}. Owner: ' +
                        '{point.owner}.{dependsOn}',
                    { point, completed, dependsOn }
                );
            }
        }
    },
    lang: {
        accessibility: {
            axis: {
                xAxisDescriptionPlural: 'The chart has a two-part X axis ' +
                    'showing time in both week numbers and days.'
            }
        }
    }
};

// Plug-in to render plot bands for the weekends
Highcharts.addEvent(Highcharts.Axis, 'foundExtremes', e => {
    if (e.target.options.custom && e.target.options.custom.weekendPlotBands) {
        const axis = e.target,
            chart = axis.chart,
            day = 24 * 36e5,
            isWeekend = t => /[06]/.test(chart.time.dateFormat('%w', t)),
            plotBands = [];

        let inWeekend = false;

        for (
            let x = Math.floor(axis.min / day) * day;
            x <= Math.ceil(axis.max / day) * day;
            x += day
        ) {
            const last = plotBands.at(-1);
            if (isWeekend(x) && !inWeekend) {
                plotBands.push({
                    from: x,
                    color: {
                        pattern: {
                            path: 'M 0 10 L 10 0 M -1 1 L 1 -1 M 9 11 L 11 9',
                            width: 10,
                            height: 10,
                            color: 'rgba(128,128,128,0.15)'
                        }
                    }
                });
                inWeekend = true;
            }

            if (!isWeekend(x) && inWeekend && last) {
                last.to = x;
                inWeekend = false;
            }
        }
        axis.options.plotBands = plotBands;
    }
});

Highcharts.ganttChart('gantt', options);

 </script>




{% endblock content %}