
{% extends 'base.html' %}
{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
<script src="https://code.highcharts.com/dashboards/modules/layout.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<div id="content" class="expanded">
    
<div id="container" class="highcharts-light ">
    <div class="row h-50 m-4">
      <div class="col-sm-4  h-100" >
        <div id="treemap" class="shadow-lg rounded"></div>
      </div>
    </div>
</div>
<pre id="csv">Food,Vitamin A
    Beef Liver,6421
    Lamb Liver, 2122
    Cod Liver Oil, 1350
    Mackerel, 388
    Tuna, 214</pre>

</div>
<script>
  let colors = ['#8B0000', '#ff4b33', '#ff4b33', '#D3D3D3'];

let data = [
    {% for priority, total_count in priority_count.items %}
    {
        name: '{{ priority }}',
        value: {{ total_count }},
        color: colors[{{ loop.index }} - 1], // This won't work directly
        drilldown: '{{ priority }}'
    } {% if not loop.last %}, {% endif %}
    {% endfor %}
];


data.forEach((item, index) => {
    item.color = colors[index] || '#000000'; // Fallback to black if out of bounds
});


Highcharts.chart('treemap', {
  
  series: [
    {
      type: 'treemap',
      layoutAlgorithm: 'squarified',
      allowTraversingTree:true,  
      levelIsConstant: false,
      dataLabels:{
        enabled:false
      }  , 
      levels:[{
        level:1, 
        layoutAlgorithm: 'squarified',
        dataLabels:{
          enabled:true,
          useHTML: true,
				style: {
					
				},
        formatter() {
          return '<div style="white-space: break-spaces;color:black;" >'+this.point.name+'</div>';
          //return this.point.name;
        }
        }
      }],
      data: data
    }
  ],
  drilldown: {
    colorByPoint:true,
    activeDataLabelStyle: {
            textDecoration: 'none'
            },
    series: [
      {% for priority, projects in treemap_data.items %}
      {
        id: '{{priority}}',
        type:'treemap',
        layoutAlgorithm:'squarified',
        data: [
          {% for project, count in projects.items %}
          ['{{project}}',{{count}}]
            {% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  title: {
    text: 'Your issues by priority'
  },
  
  tooltip: {
    useHTML: true,
    pointFormat:
    'There are <b>{point.value}</b> tasks of <b>{point.name}</b> '
  }
});
</script>




{% endblock content %}