body {
    min-height: 100vh;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(55deg,#7c0c6c  0%, #025c45 100%);
    color: #ffffff;
}
/* #6a11cb */
/* --------------------------------------------navbar----------------------------- */

.join-workspace {
    text-decoration: none;
    color: #000;
}

/* -------------------------------------forms------------------------------------------ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 36px;
    padding-left: 50px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
}

.form-heading { 
    font-family: "Poppins", sans-serif;
    font-weight: 390;
    font-style: normal;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 10px;
} 


.form-floating .form-control {
    border-radius: 0.25rem;
    height: 35px;
}

.col-12 {   
    padding-top: 10px;
}

.register-link {
    text-decoration: none;
    color: #2a0314;
}

.btn.btn-style {
    /* background-color:#993a63; */
    /* margin-left: 1px; */
    /* color: wheat; */
    /* border-color:#993a63 ; */
    margin-top: 0;
    padding: 12px;
    width: fit-content;
    color:white; 
    background-color: rgb(118 3 87);
    
}

.btn.btn-style:hover{  
    background: #7e0048e4;
    color: #000;
}

.col-md-8{
    margin-top: 50px;
    margin-left: 210px;
    line-height: 90px;
}

.workspace-container {
    margin-top: 160px;
    margin-right: 75px;
    max-width: 150%;
}

/* -------------------------------------sign in page -------------------------- */


.col-3 .register-link{
    text-decoration: none;
    color: #4b0724;
    padding-left: 150px;
}

.col-3 .workspace-link {
    text-decoration: none;
    color: #4b0724;
    padding-right: 150px;
}



/*google sign in*/

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #ffffff;
  box-shadow: 1px 1px 1px #cdcccc;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: -20px;
}

    /* .gsi-material-button {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -webkit-appearance: none;
        background-color: WHITE;
        background-image: none;
        border: 1px solid #747775;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #1f1f1f;
        cursor: pointer;
        font-family: 'Roboto', arial, sans-serif;
        font-size: 14px;
        height: 40px;
        letter-spacing: 0.25px;
        outline: none;
        overflow: hidden;
        padding: 0 12px;
        position: relative;
        text-align: center;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
        max-width: 400px;
        min-width: min-content;
      }
      
      .gsi-material-button .gsi-material-button-icon {
        height: 20px;
        margin-right: 12px;
        min-width: 20px;
        width: 20px;
      } */
/*       
      .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
      }
      
      .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
      }
      
      .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
      }
      
      .gsi-material-button:disabled .gsi-material-button-contents {
        opacity: 38%;
      }
       */
      /* .gsi-material-button:disabled .gsi-material-button-icon {
        opacity: 38%;
      }
      
      .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
      .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
      }
      
      .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
      }
      
      .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
        background-color: #303030;
        opacity: 8%;
      }
            */


/* ----------------------------------workspace------------------------- */

.form-control{
    max-width: 300px;
    margin: 0 auto 20px auto;
}
.form-control:focus {
    border-color: #702670 ;
    box-shadow: 0 0 0 0.2rem rgba(112, 38, 112, 0.25);
    
} 

.success{
    color:green;
}

.error{
    color:red;
}
