body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(55deg,#7c0c6c  0%, #025c45 100%);
    color: #ffffff;
}
/* #6a11cb */
/* --------------------------------------------navbar----------------------------- */

.join-workspace {
    text-decoration: none;
    color: #000;
}

/* -------------------------------------forms------------------------------------------ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 36px;
    padding-left: 50px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
}

.form-heading { 
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 10px;
} 


.form-floating .form-control {
    border-radius: 0.25rem;
    height: 35px;
}

.col-12 {   
    padding-top: 10px;
}

.register-link {
    text-decoration: none;
    color: #2a0314;
}

.btn.btn-style {
    /* background-color:#993a63; */
    /* margin-left: 1px; */
    /* color: wheat; */
    /* border-color:#993a63 ; */
    margin-top: 0;
    padding: 12px;
    width: fit-content;
}

.btn.btn-style :hover{  
    background-color: #f0dfe6;
    color: #000;
}

.col-md-8{
    margin-top: 50px;
    margin-left: 210px;
    line-height: 90px;
}

.workspace-container {
    margin-top: 160px;
    margin-right: 75px;
    max-width: 150%;
}

/* -------------------------------------sign in page -------------------------- */


.col-3 .register-link{
    text-decoration: none;
    color: #4b0724;
    padding-left: 150px;
}

.col-3 .workspace-link {
    text-decoration: none;
    color: #4b0724;
    padding-right: 150px;
}


/* ----------------------------------workspace------------------------- */

.form-control{
    max-width: 300px;
    margin: 0 auto 20px auto;
}
.form-control:focus {
    border-color: #702670 ;
    box-shadow: 0 0 0 0.2rem rgba(112, 38, 112, 0.25);
    
} 

.success{
    color:green;
}

.error{
    color:red;
}