.theme1{
    color:#F8EDE3

}

.theme2{
    color: #DFD3C3
    
    
}

.theme3{
    color:#D0B8A8;
}

.theme4{
    color:#85586F;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
