{% extends 'login_base.html' %}
{% load static %}
{% block content %}


<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-sm-5 border rounded bg-light p-5 shadow">
            <span class="border-start">
                <h3 class="form-heading">Sign in</h3>
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                {% endfor %}

                {% endif %}
                <form class="row g-3 form-floating" method="POST">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <!-- <label for="validationDefaultUsername" class="form-label">Username</label> -->
                        <input type="text" class="form-control" id="username" placeholder="Username"
                            aria-describedby="inputGroupPrepend2" name="username" required>
                    </div>


                    <div class="col-sm-12">
                        <!-- <label for="validationDefault03" class="form-label">City</label> -->
                        <input type="password" class="form-control" id="password" name="password" required
                            fdprocessedid="vlf8fr" placeholder="Password">
                    </div>


                    <div class="col-sm-12 text-center sub">
                        <button class="btn btn-style" type="submit" href="{% url 'login' %}">Sign in</button>
                    </div>


                    <div class="row text-center">
                        <div class="text-center ps-4">
                            <a href="{% url 'register' %}" class="register-link">Don't have an account? Register Now</a>
                        </div>
                    </div>

                    <div>
                        
                            <button class="btn btn-google">
                                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdev.to%2Fsivaneshs%2Fadd-google-login-to-your-react-apps-in-10-mins-4del&psig=AOvVaw2QeRNCErHABD_R9umT6nKO&ust=1725779683053000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOCllMaksIgDFQAAAAAdAAAAABAE"
                                    alt="Google logo">Sign in
                            </button>
                        </a>
                    </div>

                </form>
            </span>
        </div>
    </div>
</div>

{% endblock content %}