{% extends 'base.html' %}

{% block content %}

<div class="container workspace-container">
    <div class="row workspace-row">

        <div class="col-md-8 text-center form-heading">
            Enter your workspace id
        </div>

        <div class="mb-3 workspace-div text-center">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="workspace id" required
                style="height: fit-content;"></textarea>
        </div>

        <div class="col-12 text-center">
            <button class="btn btn-style" type="submit" href="{% url 'home' %}">Submit</button>
        </div>

    </div>
</div>

{% endblock content %}