<button  class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="fa-solid fa-bars fa-2xl m-3 p-1" style="color: #85586f;"></i>Workspace name</button>

<div class="offcanvas offcanvas-start theme1" style="width:20%; background-color: #F8EDE3;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Workspace Name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>My tasks</p>
    <p>Project 1{color code icon}</p>
    <p>Project 2{color code icon}</p>
    <p>
    <a href="{% url 'new_workspace' %}" class="join-workspace">Create Workspace</a>
    </p>
    <p>
      <a href="{% url 'join-workspace' %}" class="join-workspace">Join Workspace</a>
    </p>
  </div>
</div>